
$light:#F9F6F1;
$accent:#D7B399;
$black:#212121;
$gray:#CBCFD4;
$light-gray:#F9F6F1;


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.bg-light {
    background: $light;
}
.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.pipl-stek {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 0;
}
.pipl-imeg{
    margin-right: 34px;
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.03em;
    &::after{
        content: '';
        border: 3px solid transparent;
        border-top: 4px solid $black;
        display: block;
        margin-left: 6px;
        width: 0;
        height: 0;
    }
}
.logo{
    display: flex;
    align-items: center;
    & > h1 {
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 0.05em;
        margin-left: 15px;
    }
}
.payment {
    & > ul {
        list-style: none;
        padding: 0;
        display: flex;
        & > li {
            margin-right: 30px;
            & > a {
                font-weight: 500;
                text-decoration: none;
                letter-spacing: 0.03em;
                color: #212121;
            }
        }
    }
}
.cart{
    display: flex;
    align-items: center;
}

.quantity {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    margin-left: 13px;
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    padding: 2px 15px 2px 25px;
    display: block;
    font-weight: bold;
}
.main{
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}
.sale{
    margin-top: 118px;
    &-description{
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.02em;
    }
    &-title{
        font-weight: bold;
        font-size: 55px;
        line-height: 67px;
        letter-spacing: 0.04em;
        margin-top: 10px;
        margin-bottom: 56px;
    }
}
.btn{
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    background-color: $accent;
    color: #fff;
    padding: 18px 29px;
    
}
.box-price{
    position: relative;
    top: 105px;
    &_old{
        font-weight: bold;
        font-size: 24px;
        text-align: right;
        letter-spacing: 0.05em;
        text-decoration-line: line-through;
        text-transform: uppercase;
        position: relative;
        top: 28px;
        right: 5px;
    }
    &_new{
        font-weight: bold;
        font-size: 42px;
        text-align: right;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #D84033;
    }
    
}
.box-price_image{
        position: relative;
        bottom: 68px;
    }
.bg-black{
    background-color: #212121;
}
.delivery{
    padding: 83px 0 48px 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    &-title{
        &_bold{
            font-weight: bold;
            letter-spacing: 0.02em;
        }
        &_normal{
            font-weight: normal;
            letter-spacing: 0.02em;
        }
    }
    &-text{
        font-size: 21px;
        margin-top: 25px;
    }
}
.collection{
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
}
.collection-box{
    display: flex;
    justify-content: space-between;
    
}
.collection-description{
    &-title{
        
        &_bold{
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0.03em;
        }
        &_normal{
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 0.03em;
        }
    }
    &-clothes{
        font-weight: 300;
        font-size: 16px;
    }
}
.btn-arrow{
    display: block;
    background-color: $accent;
    background-image: url(/img/arrow.svg);
    background-repeat: no-repeat;
    background-position: 92px 14px;
    background-position: 50% 50%;
    width: 75px;
    height: 32px;
    margin-top: 37px;
}
.collection-description-img{
    padding-top: 15px;
}
.model{
    padding-top: 117px;
    text-align: center;
    padding-bottom: 171px;
}
.model-title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #212121;
    text-align: center;
}
.model-box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 115px;
    padding-top: 65px;

}
.model-card{
    border: 3px solid $accent;
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 5px;
    text-align: center;
    width: 240px;
    height: 335px;
    display: flex;
    flex-direction: column;
}
.model-card::after,
.model-card::before{
    content: "";
    display: block;
    border: 5px solid #fff;
    z-index: 20;
    position: absolute;
}
.model-card::after{
    left: -5px;
    top: 20px;
    right: -5px;
    bottom: 20px;
    border-top: none;
    border-bottom: none;
}
.model-card::before{
    left: 20px;
    top: -5px;
    right: 20px;
    bottom: -5px;
    border-left: none;
    border-right: none;
}
.model-card_goods{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #000000;
    white-space: nowrap;
}
.model-card_price{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #D7B399;
}
.model-card_btn{
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    background-color: #D7B399;
    color: #fff;
    padding: 18px 37px;
    & > img {
        margin-left: 6px;
        margin-bottom: 2px;
    }
}
.box-imag-text{

}
.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding-top: 74px;
    padding-bottom: 61px;
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-title{
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-left: 19px;
}
.box-sabtitle{
    color: #fff;
}
.footer-list{
    list-style: none;
    padding-left: 0;
}
.footer-list-element > a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 34px;
    color: #CBCFD4;
}
.box-imag{
    display: flex;
    
    
}
.box-imag-text{
    padding-left: 70px;
}
.box-sabtitle{
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    }
.zmdi{
    color: $accent;
}